/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.SignUp_Page{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, #ffde59,#e75555,#0c4897);
  display: flex;
  justify-content: center;
  align-items: center;
}
.SignUp_form{
  width: 50%;
  height: 70vh;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 1px 15px white;
  
}
.SignUp_FormInputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.Logo_Image{
  height: 50px;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.SignUp_form input{
  width: 80%;
  padding: 10px;
  border: none;
  height: 50px;
  /* background-color: rgb(247, 244, 244); */
  border-radius: 19px;
  overflow: hidden;
  font-size: 17px;
}
.SignUp_form button{
  /* height: 50px; */
  padding: 10px;
  border: none;
  width: auto;
  background-image: linear-gradient(to right, #ffde59,#e75555);
  color: rgb(50, 47, 47);
  border-radius: 20px;
  font-size: 17px;
}

.Preview_Image{
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

a{
  color: black;
  text-decoration: none;
}